[run]
source =
    xpdacq
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    */tests/*
    */examples
    */data/*
    */999-load.py
    */yamlclass.py
    */yamllist.py

exclude_lines =
    if __name__ == '__main__':
    pragma: no cover
