[flake8]
exclude =
    .git,
    __pycache__,
    docs/conf.py,
    old,
    build,
    dist,
    __init__.py
    xpdacq/999-load.py
    xpdacq/999-load2.py
    notebooks/*
max-complexity = 10
ignore = E501
