language: python
sudo: false

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/matplotlib
env:
  global:
    - secure: "ePWjP2xNjB2Wa+XlJKiNe+D8VEcY4woC72ySFWYXh6nfW2+OZwOb9TLYojNU67gacc/JKizMSBOKnH5EWeVZRwzR3x5kFFJ5ccv3EPGO1qw15rYExWAWPY45IXBZbmz4u58R4t3viTddZnUtVmMfgS9PzYSe1uNtVYqYfLnfRGX+6uG28xkNRb2TH62coXT0GThvLi/4uP19K5Wvo4Sxoep+WJ7F1AaP6NIoM8Cquxmm2qCE580UOEBEM7myxNzA6tW9aNQwsnJdZt53XyWdXotkOqxLV9/G/hshslsE8xJYHm+HUq2AuhGIVdtq5VUZTnqGPnSaayW8fO+wVsXAqXAO4eV08pMW61VFmmPQ9hGvKteuehVUaeRxVgGEYidyR4SpnVBZFIAylHqpzVIq5VJr2hAzXyJt4SlEZLrDLL7PLJ7b+gDDXM9BECKOdiFN9rl9W1s7+d6Hqlb/F2OPIiv7EpEgK97B6EqHauPK8neEp3VpE9JaLr7AWwbygNlCpJxfOFHq64OGtwmElk0FbxVkM/XSXMjfW8592js6rkybEAjhYvPA1Uunlpb59HyN26Tsd5asV1GTrjAaraKBCyV3mAfqI23tHQP9BFqDGbsfwSfMFQf3nNPprfROLi16mKXxdxibJmOP/tXuoQRe9zMqX0tH8QQO5SLi0e4amBQ="

services:
  - mongodb

addons:
  apt:
    sources:
    - mongodb-3.2-precise
    packages:
    - mongodb-org-server

matrix:
  include:
    - python: 3.6
    - python: 3.5

before_install:
  - git clone https://github.com/NSLS-II/nsls2-ci --branch master --single-branch ~/ci_scripts
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
  - "export DISPLAY=:99.0"
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/mc
  - export PATH=/home/travis/mc/bin:$PATH
  - conda config --set show_channel_urls True
  - conda config --set always_yes True

install:
  - export GIT_FULL_HASH=`git rev-parse HEAD`
  - conda create -n testenv nose python=$TRAVIS_PYTHON_VERSION scipy matplotlib scikit-beam jsonschema pyyaml tifffile pandas pytest coverage pip pyfai flake8 codecov ipython xlrd -c conda-forge -q
  - source activate testenv
  - 'pip install https://github.com/NSLS-II/bluesky/zipball/master#egg=bluesky'
  - 'pip install https://github.com/xpdAcq/xpdAn/zipball/master#egg=xpdan'
  - 'pip install https://github.com/xpdAcq/xpdSim/zipball/master#egg=xpdsim'
  - pip install .
  - pip install ophyd pims databroker
  # make sure the sqlite file exists to avoid race conditions
  - python -c "from bluesky.utils import get_history; get_history()"
  # make sure package data is correctly set
  - python -c "from xpdsim import xpd_pe1c; xpd_pe1c.get()"
  - python -c "from xpdacq.tests.conftest import *"
  - git clean -xfd

script:
  - set -e
  - coverage run run_tests.py
  - coverage report -m
  - conda install --yes sphinx sphinx_rtd_theme
  - pip install recommonmark
  - pip install git+git://github.com/drdoctr/doctr.git
  - cd docs
  - make html
  - cd ..
  - doctr deploy . --built-docs ./docs/_build/html;

after_script:
  - codecov
  - set +e
  - flake8 .
