include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.md
include requirements/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude notebooks/

recursive-include docs *.rst conf.py Makefile make.bat

# If including data files in the package, add them like:
# include path/to/data_file
include pdfstream/data/*
